%p.in-gold-500.font-18.mb-25 Email
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  %form.general-form-md
    .form-group.mb-35
      %label.control-label.input-label Enter Email
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    .general-text-align
      = f.submit "Save", class: 'btn btn-default.mb-10'
