%p.in-gold-500.font-18.mb-25 Password
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  .general-form-md.divider-lg-bottom.pb-25
    .form-group.mb-30
      %label.control-label.input-label Old Password
      = f.password_field :current_password, autocomplete: "current-password", placeholder: "Old Password", class: 'form-control'
    .form-group.mb-30
      %label.control-label.input-label New Password
      = f.password_field :password, autocomplete: "new-password", placeholder: "New Password", class: 'form-control'
      - if @minimum_password_length
        %br/
        %em
          = @minimum_password_length
          characters minimum
    .form-group.mb-40
      %label.control-label.input-label Confirm Password
      = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password", class: 'form-control'
    .general-text-align
      = f.submit "Save", class: 'btn btn-default.mb-10'
