%main.container.general-main-wrap
  .text-center
    %h3.general-login-title Log In
    %a.general-login-icon{href: "#"}
      %i.fa.fa-facebook-official
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email"
      .field
        = f.label :password
        %br/
        = f.password_field :password, autocomplete: "current-password"
      - if devise_mapping.rememberable?
        .field
          = f.check_box :remember_me
          = f.label :remember_me
      .actions
        = f.submit "Log in"
    %i.fa.fa-facebook-official
    %p.general-login-text or
    = render "devise/shared/links"
