%main.container
  %h1.general-title-margin Checkout
  %ul.steps.list-inline
    %li.step.active
      %span.step-number 1
      %span.step-text.hidden-xs Address
    %li.step-divider
    %li.step
      %span.step-number 2
      %span.step-text.hidden-xs Delivery
    %li.step-divider
    %li.step
      %span.step-number 3
      %span.step-text.hidden-xs Payment
    %li.step-divider
    %li.step
      %span.step-number 4
      %span.step-text.hidden-xs Confirm
    %li.step-divider
    %li.step
      %span.step-number 5
      %span.step-text.hidden-xs Complete
  = simple_form_for @current_cart, url: wizard_path, method: :put, class: 'res-mb-100', defaults: { input_html: { class: 'form-control' }, required: false } do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle Billing Address
          %p.general-info-text all fields are required
        .col-md-5.col-md-offset-1
          %h3.general-subtitle Shipping Address
      .row
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle Billing Address
            %p.general-info-text all fields are required
          = f.simple_fields_for :billing, @service.billing do |ff|
            .form-group
              = ff.input :first_name, autocomplete: "off", placeholder: "First name"
            .form-group
              = ff.input :last_name, autocomplete: "off", placeholder: "Last name"
            .form-group
              = ff.input :address, autocomplete: "off", placeholder: "Address"
            .form-group
              = ff.input :city, autocomplete: "off", placeholder: "City"
            .form-group
              = ff.input :zipcode, autocomplete: "off", placeholder: "Zipcode"
            .form-group
              = ff.label :country, required: false
              %br/
              = ff.country_select(:country, { priority_countries: ["UA", "US"], priority_countries_divider: "~~~~~~"}, {autocomplete: "off", id: 'сountry', class: 'form-control' })
            .form-group
              = ff.input :phone, placeholder: "Example +355 66 123 4567"
        .col-md-5.col-md-offset-1#hidden_fields
          = f.simple_fields_for :shipping, @service.shipping do |ff|
            .form-group
              = ff.input :first_name, autocomplete: "off", placeholder: "First name"
            .form-group
              = ff.input :last_name, autocomplete: "off", placeholder: "Last name"
            .form-group
              = ff.input :address, autocomplete: "off", placeholder: "Address"
            .form-group
              = ff.input :city, autocomplete: "off", placeholder: "City"
            .form-group
              = ff.input :zipcode, autocomplete: "off", placeholder: "Zipcode"
            .form-group
              = ff.label :country, required: false
              %br/
              = ff.country_select(:country, { priority_countries: ["UA", "US"], priority_countries_divider: "~~~~~~"}, {autocomplete: "off", id: 'сountry', class: 'form-control' })
            .form-group
              = ff.input :phone, placeholder: "Example +355 66 123 4567"
    .row
      .col-md-5.mb-40
        .form-group.checkbox
          %label.checkbox-label
            = f.check_box :use_billing, class: 'checkbox-input', type: "checkbox", id: 'hide_address', hidden: "true"
            %span.checkbox-icon
              %i.fa.fa-check
            %span.checkbox-text Use Billing Adress
    .general-text-align.mb-60
      %p.in-gold-500.font-18 Order Summary
      %table.general-summary-table
        %tr
          %td
            %p.font-16 Item Total:
          %td
            %p.font-16
              = number_to_currency(current_cart.sub_total, unit: '€')
        %tr
          %td
            %p.font-16 Coupon:
          %td
            %p.font-16
              = number_to_currency(current_cart.discount, unit: '€')
        %tr
          %td
            %p.font-16 Order Total:
          %td
            %p.font-16
              = number_to_currency(current_cart.order_total, unit: '€')
      %button.btn.center-block.mb-20
        = f.submit "Save and Continue", class: 'btn btn-default.mb-10'
