%main.container
  = render 'progress_bar'
  = simple_form_for @current_cart, url: wizard_path, method: :put, class: 'res-mb-100', defaults: { input_html: { class: 'form-control' }, required: false } do |f|
    .hidden-xs.hidden-sm
      .row
        .col-md-5
          %h3.general-subtitle
            = I18n.t('checkout.address.billing_address')
          %p.general-info-text
            = I18n.t('checkout.address.fields_required')
        .col-md-5.col-md-offset-1
          %h3.general-subtitle
            = I18n.t('checkout.address.shipping_address')
      .row
        .col-md-5.mb-40
          .visible-xs.visible-sm
            %h3.general-subtitle
              = I18n.t('checkout.address.billing_address')
            %p.general-info-text
              = I18n.t('checkout.address.fields_required')
          = f.simple_fields_for :billing, @service.billing do |ff|
            .form-group
              = ff.input :address_type, as: :hidden, :input_html => { value: 'billing' }
            .form-group
              = ff.input :first_name, autocomplete: "off", placeholder: "First name"
            .form-group
              = ff.input :last_name, autocomplete: "off", placeholder: "Last name"
            .form-group
              = ff.input :address, autocomplete: "off", placeholder: "Address"
            .form-group
              = ff.input :city, autocomplete: "off", placeholder: "City"
            .form-group
              = ff.input :zipcode, autocomplete: "off", placeholder: "Zipcode"
            .form-group
              = ff.label :country, required: false
              %br/
              = ff.country_select(:country, { priority_countries: ["UA", "US"], priority_countries_divider: "~~~~~~"}, {autocomplete: "off", id: 'сountry', class: 'form-control' })
            .form-group
              = ff.input :phone, placeholder: "Example +355 66 123 4567"
        .col-md-5.col-md-offset-1#hidden_fields
          = f.simple_fields_for :shipping, @service.shipping do |ff|
            .form-group
              = ff.input :address_type, as: :hidden, :input_html => { value: 'shipping'}
            .form-group
              = ff.input :first_name, autocomplete: "off", placeholder: "First name"
            .form-group
              = ff.input :last_name, autocomplete: "off", placeholder: "Last name"
            .form-group
              = ff.input :address, autocomplete: "off", placeholder: "Address"
            .form-group
              = ff.input :city, autocomplete: "off", placeholder: "City"
            .form-group
              = ff.input :zipcode, autocomplete: "off", placeholder: "Zipcode"
            .form-group
              = ff.label :country, required: false
              %br/
              = ff.country_select(:country, { priority_countries: ["UA", "US"], priority_countries_divider: "~~~~~~"}, {autocomplete: "off", id: 'сountry', class: 'form-control' })
            .form-group
              = ff.input :phone, placeholder: "Example +355 66 123 4567"
    .row
      .col-md-5.mb-40
        .form-group.checkbox
          = f.input :use_billing, as: :boolean, type: "checkbox", label: I18n.t('checkout.address.use_billing_address'), checked_value: true, unchecked_value: nil, input_html: {class: 'checkbox-input', id: 'hide_address'}
    .general-text-align.mb-60
      %p.in-gold-500.font-18
        = I18n.t('checkout.payment_information')
      %table.general-summary-table
        %tr
          %td
            %p.font-16
              = I18n.t('checkout.item_total')
          %td
            %p.font-16
              = number_to_currency(current_cart.sub_total, unit: '€')
        %tr
          %td
            %p.font-16
              = I18n.t('checkout.coupon')
          %td
            %p.font-16
              = number_to_currency(current_cart.discount, unit: '€')
        %tr
          %td
            %p.font-16
              = I18n.t('checkout.shipping')
          %td
            %p.font-16
              = number_to_currency(current_cart.delivery ? current_cart.delivery.price : 0.00, unit: '€')
        %tr
          %td
            %p.font-16
              = I18n.t('checkout.order_total')
          %td
            %p.font-16
              = number_to_currency(current_cart.order_total, unit: '€')
      %button.btn.center-block.mb-20
        = f.submit "Save and Continue", class: 'btn btn-default.mb-10'
