%main.container.general-main-wrap
  = render 'progress_bar'
  .text-center.mb-40
    %h3.general-subtitle
      = I18n.t('checkout.complete.thank_you')
    %p.fw-300
      = I18n.t('checkout.complete.order_confirmation', email: current_customer.email)
  .row.mb-20
    .col-sm-6
      .visible-xs
        %p.general-order-number.mb-0 Order ##{current_cart.number}
        %p.general-address.mb-30 October 29, 2016
      %p.general-address
        = current_cart.addresses.shipping.first.first_name
        = current_cart.addresses.shipping.first.last_name
        %span.general-edit edit
        %br
        = current_cart.addresses.shipping.first.address
        %br
        = current_cart.addresses.shipping.first.city
        %br
        = current_cart.addresses.shipping.first.country
        %br
        = current_cart.addresses.shipping.first.phone
    .col-sm-6.hidden-xs.text-right
      %p.general-order-number.mb-0 Order ##{current_cart.number}
      %p.general-address.mb-30 October 29, 2016
  .visible-xs
    - current_cart.line_items.each do |line_item|
      .general-cart-item.divider-lg
        .general-img-wrap-table
          %img.cart-img-shadow
            = image_tag url_for(line_item.book.images.first)
        %p.title
          = line_item.book.title
        %P.in-grey-600.fw-300
          = line_item.book.description.split('.').first
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.book.price, unit: '€')
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span
                = line_item.quantity
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.total_price, unit: '€')
      .general-cart-item.divider-lg.mb-55
        .general-img-wrap-table
          %img.cart-img-shadow
            = image_tag url_for(line_item.book.images.first)
        %p.title
          = line_item.book.title
        %table.table
          %tr
            %td
              %span.in-grey-600 Price
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.book.price, unit: '€')
          %tr
            %td.vertical-middle
              %span.in-grey-600 Quantity
            %td
              %span
                = line_item.quantity
          %tr
            %td
              %span.in-grey-600 SubTotal
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.total_price, unit: '€')
  .hidden-xs.divider-lg.pt-20
    - current_cart.line_items.each do |line_item|
      %table.table.table-hover
        %thead
          %tr
            %th
              %span.in-grey-600 Book
            %th.col-method
            %th
              %span.in-grey-600 Price
            %th
              %span.in-grey-600 Quantity
            %th
              %span.in-grey-600 Total
        %tbody
          %tr
            %td
              .general-img-wrap-table
                %img.cart-img-shadow.pull-left
                  = image_tag url_for(line_item.book.images.first)
            %td
              %p.title Android Programming for Beginners
              %p.in-grey-600.fw-300
                = line_item.book.description.split('.').first
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.book.price, unit: '€')
            %td
              %span.ml-30
                = line_item.quantity
            %td
              %span.font-16.in-gold-500
                = number_to_currency(line_item.total_price, unit: '€')
  .text-center.general-text-right
    %p.in-gold-500.font-18 Order Summary
    %table.general-summary-table.general-summary-table-right.general-text-right
      %tr
        %td
          %p.font-16 Subtotal:
        %td
          %p.font-16
            = number_to_currency(current_cart.sub_total, unit: '€')
      %tr
        %td
          %p.font-16 Coupon:
        %td
          %p.font-16
            = number_to_currency(current_cart.discount, unit: '€')
      %tr
        %td
          %p.font-16 Shipping:
        %td
          %p.font-16
            = number_to_currency(current_cart.delivery.price, unit: '€')
      %tr
        %td
          %strong.font-18 Order Total:
        %td
          %strong.font-18
            = number_to_currency(current_cart.order_total, unit: '€')
  .text-center
    %button.btn.btn-default.mb-20
      = link_to "Back to Store", categories_path, class: "btn btn-default"
