%main.container
  %h1.general-title-margin
    = link_to t(:catalog), categories_path
  .hidden-xs.clearfix
    .dropdowns.pull-right
      .dropdown.width-240
        %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false", id: 'filters-md'}
          = I18n.t("book_sort.#{@filter}")
          %i.fa.fa-angle-down.dropdown-icon.pull-right
        %ul.dropdown-menu
          - Book::AVAILABLE_FILTERS.each_value do |filter|
            %li
              = link_to I18n.t("book_sort.#{filter.to_s}"), categories_path(status: filter)
    %ul.list-inline.pt-10.mb-25.mr-240
      %li.mr-35
        %a.filter-link{href: categories_path}
          = t :all
          %span.badge.general-badge
            = Book.count
      - categories.each do |category|
        %li.mr-35
          %a.filter-link{href: category_path(category) }
            = category.title
            %span.badge.general-badge
              = category.books.count
  .dropdowns.mb-25.visible-xs
    %p.lead.small.mb-10 Filter by category
    .dropdown
      %a.dropdown-toggle.lead.small{href: "#", 'data-toggle': "dropdown", role: "button", 'aria-haspopup': "true", 'aria-expanded': "false"}
        = I18n.t("book_sort.#{@filter}")
        %i.fa.fa-angle-down.dropdown-icon.pull-right
      %ul.dropdown-menu
        - Book::AVAILABLE_FILTERS.each_value do |filter|
          %li
            = link_to I18n.t("book_sort.#{filter.to_s}"), categories_path(status: filter)
  .mb-120
    .row
      -books.each do |book|
        = render 'partials/book', book: book.decorate
  = pagy_bootstrap_nav(@pagy).html_safe
