= simple_form_for([@book, @book.reviews.build]) do |f|
  #rating-form
    %label Rating
  .form-group
    = f.input :book_id, label: false, input_html: { value: @book.id, type: 'hidden' }
    = f.input :customer_id, label: false, input_html: { value: current_customer.id, type: 'hidden' }
  .form-group
    = f.input :title, required: false
  .form-group.mb-30
    = f.input :body, required: false, label: "Review"
  .actions
    = f.button :submit, "Post", class: "btn btn-default mb-20 pull-right mb-55"
