- @book.reviews.approved.each do |review|
  .general-message-wrap.divider-lg
    .clearfix
      .logo-size.inlide-block.pull-left
        = cl_image_tag(current_customer.avatar.key, height: 50, width: 50, gravity: :face, crop: :thumb, sign_url: true)# if current_customer.avatar.attached?
      .ml-70
        %div
          .general-message-date.hidden-xs= review.created_at&.strftime('%B %e, %Y')
          .review-rating{"data-score" => "#{review.rating}"}
          .max-240
            .general-message-verified Verified Reviewer
            .general-message-name= review.title
        .mb-15
        %p
        = review.body
