!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %meta{name: "viewport", content: "width=device-width"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title
      = t :title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    -  if customer_signed_in?
      Hello, #{current_customer.email}
      = link_to 'Sign Out', destroy_customer_session_path, method: :delete
    -  else
      = link_to 'Sign In', new_customer_session_path
      = link_to "Sign up", new_customer_registration_path
    = render 'layouts/header'
    = yield
    = render 'layouts/footer'
